pkgbase = android-screen-recorder
	pkgdesc = Android recorder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/android-screen-recorder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = libcrash-bash
	depends = android-utils
	depends = tsu
	source = android-screen-recorder-47488ff5284d02681532bdf9fed3260482b5c526.zip::https://github.com/themartiancompany/android-screen-recorder/archive/47488ff5284d02681532bdf9fed3260482b5c526.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 90c16ed8c5a7a5acecae52d3df924677c640a88abc6676ff0c82594fd6f1c496

pkgname = android-screen-recorder
